// Quasar Sass (& SCSS) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$teal-1 : #FFC107
$teal-2 : #FFD967
$teal-3 : #FFCE3D
$teal-4 : #C99700
$teal-5 : #9E7700
$teal-6 : #0F63A4
$teal-7 : #548FBD
$teal-8 : #3176AB
$teal-9 : #084C81
$teal-10 : #6f6e57

$red-1 : #6a6a52
$red-2 : #baa671
$red-3 : #f1eae8
$red-4 : #7d7962
$red-5 : #6f6e57 

$primary   : #1976D2
$secondary : #26A69A
$accent    : #9C27B0

$dark      : #1D1D1D

$positive  : #21BA45
$negative  : #C10015
$info      : #31CCEC
$warning   : #F2C037
